In [1]:
import pandas as pd 
import os 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/2_ProteinOrtho/2_ProteinOrtho_IDs')

Al archivo obtenido de ProteinOrtho (Ast-Dmel) se agregaron los ID's (a2, b2) del proteoma obtenido a traves del NCBI

In [2]:
ortho = pd.read_csv('Ortho_Ast_Dmel.csv') 
ortho.head()

,Dmel,a,a2,Ast,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,Drosophila_melanogaster,NP_001014460.1,SAU,Astyanax_mexicanus,XP_007250532.1,GOLPH3A,9.400000e-111,399.0,4.580000e-111,399.0
1,Drosophila_melanogaster,NP_001014460.1,SAU,Astyanax_mexicanus,XP_007228899.2,GOLPH3B,3.850000e-107,387.0,1.890000e-107,387.0
2,Drosophila_melanogaster,NP_001014461.1,CG9967,Astyanax_mexicanus,XP_007229687.1,MKRN2OS.2,3.380000e-20,98.2,1.270000e-20,98.2
3,Drosophila_melanogaster,NP_001014462.1,RBP9,Astyanax_mexicanus,XP_022526743.1,ELAVL4,1.120000e-109,396.0,5.530000e-110,396.0
4,Drosophila_melanogaster,NP_001014462.1,RBP9,Astyanax_mexicanus,XP_022524325.1,ELAVL2,4.490000e-109,394.0,1.960000e-109,394.0

In [3]:
ortho.shape

(45115, 10)

In [4]:
nod= pd.read_csv('Dmel_nodos.csv')

In [5]:
nod.head()

     Model_nodos NCBI_Product_accesion
0  14-3-3EPSILON           NP_732309.1
1     14-3-3ZETA           NP_476885.2
2            18W           NP_476814.1
3           2MIT        NP_001262529.1
4         5-HT1A        NP_001356890.1

In [6]:
nod.shape

(4353, 2)

In [7]:
# Aseg√∫rate de que no hay espacios extra o diferencias en los valores
nod['NCBI_Product_accesion'] = nod['NCBI_Product_accesion'].astype(str).str.strip()
ortho['a'] = ortho['a'].astype(str).str.strip()

# Filtrado: conservar solo las filas de 'ortho' que tengan coincidencias en 'nod'
filtrado = ortho[ortho['a'].isin(nod['NCBI_Product_accesion'])]

# Mostrar los primeros resultados
filtrado.head()

,Dmel,a,a2,Ast,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
101,Drosophila_melanogaster,NP_001014522.2,MP20,Astyanax_mexicanus,XP_049332440.1,TAGLN2,4.580000e-29,127.0,2.380000e-29,127.0
109,Drosophila_melanogaster,NP_001014529.1,U3-55K,Astyanax_mexicanus,XP_007254609.3,RRP9,2.110000e-71,269.0,1.050000e-71,269.0
110,Drosophila_melanogaster,NP_001014529.1,U3-55K,Astyanax_mexicanus,XP_007254607.3,RRP9,1.350000e-69,263.0,6.750000e-70,263.0
129,Drosophila_melanogaster,NP_001014549.1,SLIK,Astyanax_mexicanus,XP_007252332.3,SLKA,5.240000e-114,412.0,2.290000e-114,412.0
130,Drosophila_melanogaster,NP_001014552.1,ZIP,Astyanax_mexicanus,XP_022530909.1,MYH9A,0.000000e+00,1260.0,0.000000e+00,1260.0

In [8]:
filtrado.shape

(5655, 10)

In [9]:
filtrado = ortho.loc[ortho.groupby('a2')['evalue_ab'].idxmin()]
filtrado.shape

(5211, 10)

In [10]:
filtrado.to_csv('Dmel_Ast_Filter.csv')