In [1]:
import pandas as pd 
import os 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/3_From_model_to_Ast')

In [2]:
homo = pd.read_csv('Ast_Netw_from_Homo.csv')
homo.head()

   Unnamed: 0          Source          Target Interaction
0           0  XP_007245269.3  XP_022528737.1           -
1           1  XP_007245269.3  XP_007229906.3           ?
2           3  XP_007245269.3  XP_007233103.2           +
3           4  XP_007245269.3  XP_049339604.1           ?
4           5  XP_007254055.2  XP_022528737.1           +

In [3]:
homo.shape

(6365, 4)

In [4]:
mus = pd.read_csv('Ast_Netw_from_Mus.csv')
mus.head()

   Unnamed: 0          Source          Target Interaction
0           1  XP_007245269.3  XP_022528737.1           ?
1           3  XP_007245269.3  XP_007229906.3           ?
2           4  XP_007245269.3  XP_007246736.1           +
3           5  XP_007245269.3  XP_022519420.2           +
4           6  XP_007254055.2  XP_022519420.2           ?

In [5]:
mus.shape

(4566, 4)

In [6]:
dmel = pd.read_csv('Ast_Netw_from_Dmel.csv')
dmel.head()

   Unnamed: 0          Source          Target Interaction
0         645  XP_007239065.2  XP_049322581.1           ?
1         647  XP_007239065.2  XP_007239065.2           ?
2         648  XP_007239065.2  XP_049338159.1           ?
3         649  XP_007239065.2  XP_007233450.3           ?
4         650  XP_007239065.2  XP_049334916.1           ?

In [7]:
dmel.shape

(1836, 4)

In [8]:
net =  pd.concat([homo,mus,dmel])

In [9]:
net.shape

(12767, 4)

In [10]:
# Eliminar filas duplicadas
global_net = net.drop_duplicates()

In [11]:
global_net.shape

(12767, 4)

In [12]:
global_net

      Unnamed: 0          Source          Target Interaction
0              0  XP_007245269.3  XP_022528737.1           -
1              1  XP_007245269.3  XP_007229906.3           ?
2              3  XP_007245269.3  XP_007233103.2           +
3              4  XP_007245269.3  XP_049339604.1           ?
4              5  XP_007254055.2  XP_022528737.1           +
...          ...             ...             ...         ...
1789       23214  XP_007228452.2  XP_022520832.1           ?
1790       23223  XP_007228452.2  XP_007246364.3           ?
1791       23226  XP_007228452.2  XP_049341549.1           ?
1792       23231  XP_007228452.2  XP_015461148.1           ?
1793       23236  XP_007228452.2  XP_007228452.2           ?

[12725 rows x 4 columns]

In [12]:
def resolver_interaccion(grupo):
    # Filtrar interacciones conocidas
    conocidos = grupo[grupo['Interaction'].isin(['+', '-'])]
    if not conocidos.empty:
        return conocidos.iloc[[0]]  # Conserva una interacción conocida
    else:
        return grupo.iloc[[0]]  # Si no hay conocidas, conserva una con '?'

# Aplicar la función agrupando por Source y Target
global_net_filtrado = global_net.groupby(['Source', 'Target'], group_keys=False).apply(resolver_interaccion).reset_index(drop=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29788\1319223602.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  global_net_filtrado = global_net.groupby(['Source', 'Target'], group_keys=False).apply(resolver_interaccion).reset_index(drop=True)

In [13]:
global_net_filtrado.shape

(10997, 4)

In [14]:
global_net_filtrado.to_csv('Global_net.csv')