In [1]:
import pandas as pd 
import os 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/4_Global')

In [2]:
homo = pd.read_csv('Homo_net_comb.csv')
dmel = pd.read_csv('Dmel_net_comb.csv')
mus = pd.read_csv('Mus_net_comb.csv')

In [3]:
homo.head()

,Unnamed: 0,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,0,AATF,CDKN1D,?,2,274,2-274
1,1,AATF,CDKN1A,?,2,274,2-274
2,2,AATF,CDKN1A,?,2,274,2-274
3,3,AATF,MYCB,+,2,1060,2-1060
4,4,AATF,MYCA,+,2,1060,2-1060

In [4]:
homo.shape

(15926, 7)

In [5]:
dmel.head()

,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,ETV6,SPTAN1,?,30,25,30-25
1,ETV6,SPTAN1,?,30,25,30-25
2,ETV6,SPTAN1,?,30,25,30-25
3,ETV6,SPTAN1,?,30,25,30-25
4,ETV6,SPTAN1,?,30,25,30-25

In [6]:
dmel.shape

(28503, 6)

In [7]:
mus.head()

,Unnamed: 0,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,0,AIRE,BMP2A,?,35,94,35-94
1,1,ANKRD1A,MYL2B,-,48,648,48-648
2,2,ANKRD1A,MYL2A,-,48,648,48-648
3,3,APBB1,LRP1AB,-,51,572,51-572
4,4,APBB1,LRP1AB,-,51,572,51-572

In [8]:
mus.shape

(6110, 7)

In [9]:
net =  pd.concat([homo,mus,dmel])
net.shape

(50539, 7)

In [10]:
net.head()

,Unnamed: 0,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,0.0,AATF,CDKN1D,?,2,274,2-274
1,1.0,AATF,CDKN1A,?,2,274,2-274
2,2.0,AATF,CDKN1A,?,2,274,2-274
3,3.0,AATF,MYCB,+,2,1060,2-1060
4,4.0,AATF,MYCA,+,2,1060,2-1060

In [11]:
net = net.drop(columns=['ID_source', 'ID_target', 'Grupo_interaccion'], errors='ignore')
net = net.rename(columns={'Source_ortolog': 'Source', 'Target_ortolog': 'Target'})

In [12]:
net.shape

(50539, 4)

In [13]:
net.head()

   Unnamed: 0 Source  Target Interaction
0         0.0   AATF  CDKN1D           ?
1         1.0   AATF  CDKN1A           ?
2         2.0   AATF  CDKN1A           ?
3         3.0   AATF    MYCB           +
4         4.0   AATF    MYCA           +

In [14]:
def resolver_interaccion(grupo):
    # Filtrar interacciones conocidas
    conocidos = grupo[grupo['Interaction'].isin(['+', '-'])]
    if not conocidos.empty:
        return conocidos.iloc[[0]]  # Conserva una interacción conocida
    else:
        return grupo.iloc[[0]]  # Si no hay conocidas, conserva una con '?'

# Aplicar la función agrupando por Source y Target
global_net_filtrado = net.groupby(['Source', 'Target'], group_keys=False).apply(resolver_interaccion).reset_index(drop=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29496\3143472889.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  global_net_filtrado = net.groupby(['Source', 'Target'], group_keys=False).apply(resolver_interaccion).reset_index(drop=True)

In [15]:
global_net_filtrado.shape

(12017, 4)

In [16]:
global_net_filtrado.to_csv('SF_global.csv')