In [1]:
import pandas as pd
import os
from ast import literal_eval
from itertools import product
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/cueva/1_ProteinOrto/3_Filtrado')

In [2]:
orto_df = pd.read_csv('CV_Dmel_Dic_Orto.csv') 
orto_df.head()

,Unnamed: 0,Model_nodos,NCBI_Product_accesion,Astyanax_ortologos,ID
0,0,14-3-3EPSILON,NP_732309.1,"[('KAG9265182.1', 'YWHAE'), ('KAG9281675.1', '...",1
1,1,14-3-3ZETA,NP_476885.2,"[('KAG9268141.1', 'YWHAB'), ('KAG9270337.1', '...",2
2,2,5-HT7,NP_524599.1,"[('KAG9262031.1', 'HTR7'), ('KAG9265546.1', 'H...",3
3,3,ABI,NP_001247090.1,"[('KAG9273664.1', 'ABI1'), ('KAG9276765.1', 'A...",4
4,4,AC13E,NP_001259575.1,"[('KAG9261319.1', 'ADCY9')]",5

In [3]:
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/1_Redes_modelo')
net_df= pd.read_csv('Dmel_model_net(high).csv')

In [4]:
net_df.head()

  Source  Target Interaction
0  ABD-A  5-HT1A           ?
1  ABD-A   5-HT7           ?
2  ABD-A   ABD-A           ?
3  ABD-A   ABD-B           ?
4  ABD-A   AC76E           ?

In [5]:

# Convertir string de listas de tuplas a listas reales
orto_df["Astyanax_ortologos"] = orto_df["Astyanax_ortologos"].apply(literal_eval)

# Crear diccionario para acceso rápido a ortólogos
orto_dict = orto_df.set_index("Model_nodos")[["Astyanax_ortologos", "ID"]].to_dict(orient="index")

# Generar combinatorias
expanded_rows = []

for _, row in net_df.iterrows():
    source = row["Source"]
    target = row["Target"]
    interaction = row["Interaction"]
    
    if source in orto_dict and target in orto_dict:
        source_orthos = orto_dict[source]["Astyanax_ortologos"]
        target_orthos = orto_dict[target]["Astyanax_ortologos"]
        id_source = orto_dict[source]["ID"]
        id_target = orto_dict[target]["ID"]
        
        for s_ort, t_ort in product(source_orthos, target_orthos):
            expanded_rows.append({
                "Source_ortolog": s_ort[1],
                "Target_ortolog": t_ort[1],
                "Interaction": interaction,
                "ID_source": id_source,
                "ID_target": id_target,
                "Grupo_interaccion": f"{id_source}-{id_target}"
            })

# Crear dataframe final
final_df = pd.DataFrame(expanded_rows)

In [6]:
final_df.head()

,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,ETV6,SPTAN1,?,33,26,33-26
1,ETV6,ETV6,?,33,33,33-33
2,ETV6,TGFBR1,?,33,65,33-65
3,ETV6,ACVR1B,?,33,65,33-65
4,ETV6,KAG9278225.1,?,33,68,33-68

In [7]:
final_df.shape

(3221, 6)

In [8]:
final_df.to_csv('CV_Dmel_net_comb.csv')