In [1]:
import pandas as pd
import os
from ast import literal_eval
from itertools import product
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/cueva/1_ProteinOrto/3_Filtrado')

In [2]:
orto_df = pd.read_csv('CV_Homo_Dic_Orto.csv') 
orto_df.head()

,Unnamed: 0,Model_nodos,NCBI_Product_accesion,Astyanax_ortologos,ID
0,0,A2M,NP_001334352.2,"[('KAG9265127.1', 'A2M'), ('KAG9265130.1', 'A2...",1
1,1,AATF,NP_036270.1,"[('KAG9281985.1', 'AATF')]",2
2,2,ABCA1,NP_005493.2,"[('KAG9260005.1', 'ABCA1'), ('KAG9281151.1', '...",3
3,3,ABCA3,NP_001080.2,"[('KAG9264555.1', 'ABCA3')]",4
4,4,ABCB1,NP_001335874.1,"[('KAG9283635.1', 'ABCB1')]",5

In [3]:
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/1_Redes_modelo')
net_df= pd.read_csv('trrust_rawdata.human.csv')
net_df.head()

  Source  Target Interaction
0   AATF     BAX           -
1   AATF  CDKN1A           ?
2   AATF    KLK3           ?
3   AATF     MYC           +
4   AATF    TP53           ?

In [4]:

# Convertir string de listas de tuplas a listas reales
orto_df["Astyanax_ortologos"] = orto_df["Astyanax_ortologos"].apply(literal_eval)

# Crear diccionario para acceso rápido a ortólogos
orto_dict = orto_df.set_index("Model_nodos")[["Astyanax_ortologos", "ID"]].to_dict(orient="index")

# Generar combinatorias
expanded_rows = []

for _, row in net_df.iterrows():
    source = row["Source"]
    target = row["Target"]
    interaction = row["Interaction"]
    
    if source in orto_dict and target in orto_dict:
        source_orthos = orto_dict[source]["Astyanax_ortologos"]
        target_orthos = orto_dict[target]["Astyanax_ortologos"]
        id_source = orto_dict[source]["ID"]
        id_target = orto_dict[target]["ID"]
        
        for s_ort, t_ort in product(source_orthos, target_orthos):
            expanded_rows.append({
                "Source_ortolog": s_ort[1],
                "Target_ortolog": t_ort[1],
                "Interaction": interaction,
                "ID_source": id_source,
                "ID_target": id_target,
                "Grupo_interaccion": f"{id_source}-{id_target}"
            })

# Crear dataframe final
final_df = pd.DataFrame(expanded_rows)

In [5]:
final_df.head()

,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,AATF,CDKN1A,?,2,262,2-262
1,AATF,CDKN1B,?,2,262,2-262
2,AATF,MYCB,+,2,1007,2-1007
3,AATF,MYC,+,2,1007,2-1007
4,AATF,TP53,?,2,1621,2-1621

In [6]:
final_df.shape

(5215, 6)

In [7]:
final_df.to_csv('CV_Homo_net_comb.csv')