In [5]:
import pandas as pd
import os
from ast import literal_eval
from itertools import product
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/cueva/1_ProteinOrto/3_Filtrado')

In [6]:
orto_df = pd.read_csv('CV_Mus_Dic_Orto.csv') 
orto_df.head()

,Unnamed: 0,Model_nodos,NCBI_Product_accesion,Astyanax_ortologos,ID
0,0,ABCA1,XP_006537619.1,"[('KAG9260005.1', 'ABCA1'), ('KAG9281151.1', '...",1
1,1,ABCB11,NP_066302.2,"[('KAG9266695.1', 'ABCB11')]",2
2,2,ABCB1A,NP_035206.2,"[('KAG9283635.1', 'ABCB1')]",3
3,3,ABCB1B,NP_035205.1,"[('KAG9283635.1', 'ABCB1')]",4
4,4,ABCB4,NP_032856.2,"[('KAG9283635.1', 'ABCB1')]",5

In [7]:
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/1_Redes_modelo')
net_df= pd.read_csv ('trrust_rawdata.mouse.csv')
net_df.head()

  Source  Target Interaction
0   AATF    BAK1           ?
1   AATF     BAX           ?
2   AATF    BBC3           ?
3   AATF  CDKN1A           ?
4   AATF    TPT1           +

In [8]:

# Convertir string de listas de tuplas a listas reales
orto_df["Astyanax_ortologos"] = orto_df["Astyanax_ortologos"].apply(literal_eval)

# Crear diccionario para acceso rápido a ortólogos
orto_dict = orto_df.set_index("Model_nodos")[["Astyanax_ortologos", "ID"]].to_dict(orient="index")

# Generar combinatorias
expanded_rows = []

for _, row in net_df.iterrows():
    source = row["Source"]
    target = row["Target"]
    interaction = row["Interaction"]
    
    if source in orto_dict and target in orto_dict:
        source_orthos = orto_dict[source]["Astyanax_ortologos"]
        target_orthos = orto_dict[target]["Astyanax_ortologos"]
        id_source = orto_dict[source]["ID"]
        id_target = orto_dict[target]["ID"]
        
        for s_ort, t_ort in product(source_orthos, target_orthos):
            expanded_rows.append({
                "Source_ortolog": s_ort[1],
                "Target_ortolog": t_ort[1],
                "Interaction": interaction,
                "ID_source": id_source,
                "ID_target": id_target,
                "Grupo_interaccion": f"{id_source}-{id_target}"
            })

# Crear dataframe final
final_df = pd.DataFrame(expanded_rows)

In [9]:
final_df.head()

,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,AIRE,BMP2,?,34,90,34-90
1,ANKRD1,MYL2,-,46,618,46-618
2,ANKRD1,MYL2,-,46,618,46-618
3,APBB1,LRP1,-,49,550,49-550
4,APBB1,KAG9261813.1,?,49,664,49-664

In [10]:
final_df.shape

(1790, 6)

In [11]:
final_df.to_csv('CV_Mus_net_comb.csv')