In [1]:
import pandas as pd
import os 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE')
net=pd.read_csv('Global_CF.csv')

In [2]:
net.head()

   Unnamed: 0 Source  Target Interaction
0           0   AATF  CDKN1A           ?
1           1   AATF    MYCB           +
2           2   AATF    TP53           ?
3           3   ABL1    BCL2           -
4           4   ABL1    BCL6           -

In [3]:
net = net.drop_duplicates()

In [4]:
net.shape

(5419, 4)

In [5]:
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/cueva')
visual=pd.read_csv('visual.csv')
visual.head()

     Gen  Atributo
0  BCAS2         3
1   BCL6         3
2  CRYAA         1
3  CRYAB         1
4  DLX1A         2

In [6]:
visual.shape

(37, 2)

In [7]:
filtered_df = net[net['Target'].isin(visual['Gen'])]
print(filtered_df)

      Unnamed: 0  Source        Target Interaction
4              4    ABL1          BCL6           -
29            29   APBB1  KAG9261813.1           ?
131          131     ARX          SHHA           +
222          222    BCL6          BCL6           -
492          492  CRABP2         RARAB           +
...          ...     ...           ...         ...
5120        5120   TRRAP          MITF           -
5232        5232    VAX2         PAX6A           -
5273        5273   WT1-A         PAX2A           -
5274        5274   WT1-A        POU4F2           ?
5396        5396    ZEB1          BCL6           -

[120 rows x 4 columns]

In [8]:
filtered_df.to_csv('Subnet_Pachon.csv')