In [1]:
import pandas as pd
import os
from ast import literal_eval
from itertools import product
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/2_ProteinOrtho/3_Filtrado')

In [2]:
orto_df = pd.read_csv('Dmel_Dic_Orto.csv') 
orto_df.head()

,Model_nodos,NCBI_Product_accesion,Astyanax_ortologos,ID
0,14-3-3EPSILON,NP_732309.1,"[('XP_007245994.1', 'YWHAE1'), ('XP_007229712....",1
1,14-3-3ZETA,NP_476885.2,"[('XP_007241340.1', 'LOC103023259'), ('XP_0493...",2
2,5-HT7,NP_524599.1,"[('XP_007256792.3', 'HTR1AB'), ('XP_007234230....",3
3,ABI,NP_001247090.1,"[('XP_022533518.1', 'ABI1B'), ('XP_022533520.1...",4
4,AC3,NP_610116.2,"[('XP_022541047.2', 'LOC103034748'), ('XP_0225...",5

In [3]:
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/1_Redes_modelo')
net_df= pd.read_csv('Dmel_model_net(high).csv')

In [4]:
net_df.head()

  Source  Target Interaction
0  ABD-A  5-HT1A           ?
1  ABD-A   5-HT7           ?
2  ABD-A   ABD-A           ?
3  ABD-A   ABD-B           ?
4  ABD-A   AC76E           ?

In [5]:

# Convertir string de listas de tuplas a listas reales
orto_df["Astyanax_ortologos"] = orto_df["Astyanax_ortologos"].apply(literal_eval)

# Crear diccionario para acceso rápido a ortólogos
orto_dict = orto_df.set_index("Model_nodos")[["Astyanax_ortologos", "ID"]].to_dict(orient="index")

# Generar combinatorias
expanded_rows = []

for _, row in net_df.iterrows():
    source = row["Source"]
    target = row["Target"]
    interaction = row["Interaction"]
    
    if source in orto_dict and target in orto_dict:
        source_orthos = orto_dict[source]["Astyanax_ortologos"]
        target_orthos = orto_dict[target]["Astyanax_ortologos"]
        id_source = orto_dict[source]["ID"]
        id_target = orto_dict[target]["ID"]
        
        for s_ort, t_ort in product(source_orthos, target_orthos):
            expanded_rows.append({
                "Source_ortolog": s_ort[1],
                "Target_ortolog": t_ort[1],
                "Interaction": interaction,
                "ID_source": id_source,
                "ID_target": id_target,
                "Grupo_interaccion": f"{id_source}-{id_target}"
            })

# Crear dataframe final
final_df = pd.DataFrame(expanded_rows)

In [6]:
final_df.head()

,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,ETV6,SPTAN1,?,30,25,30-25
1,ETV6,SPTAN1,?,30,25,30-25
2,ETV6,SPTAN1,?,30,25,30-25
3,ETV6,SPTAN1,?,30,25,30-25
4,ETV6,SPTAN1,?,30,25,30-25

In [7]:
final_df.shape

(28503, 6)

In [8]:
final_df.to_csv('Dmel_net_comb.csv')