In [1]:
import pandas as pd 
import os

In [2]:
#Datos 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/1_Redes_modelo')
dmel= pd.read_csv('Dmel_model_net(high).csv')
homo= pd.read_csv('trrust_rawdata.human.csv')
mus= pd.read_csv ('trrust_rawdata.mouse.csv')

In [4]:
dmel.shape

(23404, 3)

In [5]:
homo.shape

(9396, 3)

In [6]:
mus.shape

(7057, 3)

In [7]:
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/2_ProteinOrtho/3_Filtrado')
orto_dmel= pd.read_csv('Dmel_Ast_Filter.csv')
orto_homo= pd.read_csv('Homo_Ast_Filter.csv') 
orto_mus= pd.read_csv('Mus_Ast_Filter.csv')

In [8]:
orto_dmel.head()

,Unnamed: 0,Dmel,a,a2,Ast,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,27808,Drosophila_melanogaster,NP_536733.1,128UP,Astyanax_mexicanus,XP_049324289.1,DRG1,5.720000e-173,606.0,2.810000e-173,606.0
1,41620,Drosophila_melanogaster,NP_732312.1,14-3-3EPSILON,Astyanax_mexicanus,XP_007245994.1,YWHAE1,6.240000e-116,416.0,3.070000e-116,416.0
2,89,Drosophila_melanogaster,NP_001014515.1,14-3-3ZETA,Astyanax_mexicanus,XP_007241340.1,LOC103023259,4.160000e-105,380.0,2.020000e-105,380.0
3,17475,Drosophila_melanogaster,NP_001262561.1,140UP,Astyanax_mexicanus,XP_007259105.3,TIMMDC1,1.040000e-24,113.0,5.810000e-25,113.0
4,10570,Drosophila_melanogaster,NP_001246314.1,37104,Astyanax_mexicanus,XP_015457634.1,37104,0.000000e+00,1296.0,0.000000e+00,1296.0

In [9]:
orto_dmel.shape

(5211, 11)

In [10]:
orto_homo.head()

,Unnamed: 0,Ast,a,a2,Homo,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,9590,Astyanax_mexicanus,XP_007236312.1,37104,Homo_sapiens,NP_001304051.1,37104,0.000000e+00,1691.0,0.000000e+00,1691.0
1,37620,Astyanax_mexicanus,XP_007259890.2,37469,Homo_sapiens,XP_054216272.1,37469,0.000000e+00,1641.0,0.000000e+00,1641.0
2,21045,Astyanax_mexicanus,XP_007247932.1,38200,Homo_sapiens,NP_060099.2,38200,0.000000e+00,1718.0,0.000000e+00,1718.0
3,95961,Astyanax_mexicanus,XP_049320795.1,A1CF,Homo_sapiens,NP_001357060.1,A1CF,1.110000e-278,959.0,5.030000e-279,959.0
4,21174,Astyanax_mexicanus,XP_007248032.3,AAAS,Homo_sapiens,NP_056480.1,AAAS,1.550000e-156,553.0,7.640000e-157,553.0

In [11]:
orto_mus.head()

,Unnamed: 0,Ast,a,a2,Mus,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,8007,Astyanax_mexicanus,XP_007236312.1,37104,Mus_musculus,NP_001304102.1,37104,0.000000e+00,1691.0,0.000000e+00,1691.0
1,32934,Astyanax_mexicanus,XP_007259890.2,37469,Mus_musculus,NP_694818.3,37469,0.000000e+00,1634.0,0.000000e+00,1634.0
2,18428,Astyanax_mexicanus,XP_007247932.1,38200,Mus_musculus,NP_694817.2,38200,0.000000e+00,1707.0,0.000000e+00,1707.0
3,82882,Astyanax_mexicanus,XP_049320795.1,A1CF,Mus_musculus,NP_001074543.1,A1CF,5.410000e-274,943.0,3.300000e-274,943.0
4,18595,Astyanax_mexicanus,XP_007248032.3,AAAS,Mus_musculus,NP_700465.2,AAAS,4.710000e-153,541.0,3.130000e-153,541.0

#### Redes modelo en base a datos de ortología ###
1. Datos 
2. Filtrar las interacciones para asegurar que source y target sean ortologos de astyanax 
3. Pasar de nombres de genes del organismo modelo a ID's de Astyanax

## Drosophila - Ast3

In [12]:
# Filtramos ortólogos de 'Source'
source = dmel[dmel['Source'].isin(orto_dmel['a2'])]

# Filtramos ortólogos de 'Target' dentro del subconjunto filtrado previamente
net_dmel = source[source['Target'].isin(orto_dmel['a2'])]

# Eliminamos duplicados, manteniendo solo la primera ocurrencia
net_dmel = net_dmel.drop_duplicates()

# Crear diccionario de mapeo de 'a2' a 'b'
mapp = dict(zip(orto_dmel['a2'], orto_dmel['b']))

# Reemplazar valores en 'Source' y 'Target' usando el mapeo de 'a2' → 'b'

net_dmel.replace({'Source': mapp, 'Target': mapp}, inplace=True)

# Posibles duplicados tras el mapeo
net_dmel = net_dmel.drop_duplicates()

In [13]:
net_dmel.head()

             Source          Target Interaction
645  XP_007239065.2  XP_049322581.1           ?
647  XP_007239065.2  XP_007239065.2           ?
648  XP_007239065.2  XP_049338159.1           ?
649  XP_007239065.2  XP_007233450.3           ?
650  XP_007239065.2  XP_049334916.1           ?

In [14]:
net_dmel.shape

(1836, 3)

## Homo - Ast3

In [24]:
# Filtramos ortólogos de 'Source'
source2 = homo[homo['Source'].isin(orto_homo['b2'])]

# Filtramos ortólogos de 'Target' dentro del subconjunto filtrado previamente
net_homo = source2[source2['Target'].isin(orto_homo['b2'])]

# Eliminamos duplicados, manteniendo solo la primera ocurrencia
net_homo = net_homo.drop_duplicates()

# Crear diccionario de mapeo de 'a2' a 'b'
mapp2 = dict(zip(orto_homo['b2'], orto_homo['a']))

# Reemplazar valores en 'Source' y 'Target' usando el mapeo de 'b2' → 'a'

net_homo.replace({'Source': mapp2, 'Target': mapp2}, inplace=True)

# Posibles duplicados tras el mapeo
net_homo = net_homo.drop_duplicates()

In [25]:
net_homo.head()

           Source          Target Interaction
0  XP_007245269.3  XP_022528737.1           -
1  XP_007245269.3  XP_007229906.3           ?
3  XP_007245269.3  XP_007233103.2           +
4  XP_007245269.3  XP_049339604.1           ?
5  XP_007254055.2  XP_022528737.1           +

In [26]:
net_homo.shape

(6365, 3)

## Mus - Ast3

In [27]:
# Filtramos ortólogos de 'Source'
source3 = mus[mus['Source'].isin(orto_mus['b2'])]

# Filtramos ortólogos de 'Target' dentro del subconjunto filtrado previamente
net_mus = source3[source3['Target'].isin(orto_mus['b2'])]

# Eliminamos duplicados, manteniendo solo la primera ocurrencia
net_mus = net_mus.drop_duplicates()

# Crear diccionario de mapeo de 'a2' a 'b'
mapp3 = dict(zip(orto_mus['b2'], orto_mus['a']))

# Reemplazar valores en 'Source' y 'Target' usando el mapeo de 'b2' → 'a'

net_mus.replace({'Source': mapp3, 'Target': mapp3}, inplace=True)

# Posibles duplicados tras el mapeo
net_mus = net_mus.drop_duplicates()

In [28]:
net_mus.head()

           Source          Target Interaction
1  XP_007245269.3  XP_022528737.1           ?
3  XP_007245269.3  XP_007229906.3           ?
4  XP_007245269.3  XP_007246736.1           +
5  XP_007245269.3  XP_022519420.2           +
6  XP_007254055.2  XP_022519420.2           ?

In [29]:
net_mus.shape

(4566, 3)

In [30]:
net_dmel.to_csv('Ast_Netw_from_Dmel.csv')

In [31]:
net_homo.to_csv('Ast_Netw_from_Homo.csv')

In [32]:
net_mus.to_csv('Ast_Netw_from_Mus.csv')