In [1]:
import pandas as pd
import os
from ast import literal_eval
from itertools import product
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/2_ProteinOrtho/3_Filtrado')

In [2]:
orto_df = pd.read_csv('Homo_Dic_Orto.csv') 
orto_df.head()

,Unnamed: 0,Model_nodos,NCBI_Product_accesion,Astyanax_ortologos,ID
0,0,A2M,NP_001334352.2,"[('XP_007236950.3', 'LOC103029544'), ('XP_0225...",1
1,1,AATF,NP_036270.1,"[('XP_007245269.3', 'AATF')]",2
2,2,ABCA1,NP_005493.2,"[('XP_022522959.2', 'ABCA1A'), ('XP_022522960....",3
3,3,ABCA3,NP_001080.2,"[('XP_022520829.2', 'ABCA3B')]",4
4,4,ABCB1,NP_001335874.1,"[('XP_049320497.1', 'ABCB4')]",5

In [3]:
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/1_Redes_modelo')
net_df= pd.read_csv('trrust_rawdata.human.csv')

In [4]:
net_df.head()

  Source  Target Interaction
0   AATF     BAX           -
1   AATF  CDKN1A           ?
2   AATF    KLK3           ?
3   AATF     MYC           +
4   AATF    TP53           ?

In [5]:

# Convertir string de listas de tuplas a listas reales
orto_df["Astyanax_ortologos"] = orto_df["Astyanax_ortologos"].apply(literal_eval)

# Crear diccionario para acceso rápido a ortólogos
orto_dict = orto_df.set_index("Model_nodos")[["Astyanax_ortologos", "ID"]].to_dict(orient="index")

# Generar combinatorias
expanded_rows = []

for _, row in net_df.iterrows():
    source = row["Source"]
    target = row["Target"]
    interaction = row["Interaction"]
    
    if source in orto_dict and target in orto_dict:
        source_orthos = orto_dict[source]["Astyanax_ortologos"]
        target_orthos = orto_dict[target]["Astyanax_ortologos"]
        id_source = orto_dict[source]["ID"]
        id_target = orto_dict[target]["ID"]
        
        for s_ort, t_ort in product(source_orthos, target_orthos):
            expanded_rows.append({
                "Source_ortolog": s_ort[1],
                "Target_ortolog": t_ort[1],
                "Interaction": interaction,
                "ID_source": id_source,
                "ID_target": id_target,
                "Grupo_interaccion": f"{id_source}-{id_target}"
            })

# Crear dataframe final
final_df = pd.DataFrame(expanded_rows)

In [6]:
final_df.head()

,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,AATF,CDKN1D,?,2,274,2-274
1,AATF,CDKN1A,?,2,274,2-274
2,AATF,CDKN1A,?,2,274,2-274
3,AATF,MYCB,+,2,1060,2-1060
4,AATF,MYCA,+,2,1060,2-1060

In [7]:
final_df.shape

(15926, 6)

In [8]:
final_df.to_csv('Homo_net_comb.csv')