In [1]:
import pandas as pd 
import os 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/cueva/3_Global')

In [2]:
homo = pd.read_csv('CV_Homo_net_comb.csv')
dmel = pd.read_csv('CV_Dmel_net_comb.csv')
mus = pd.read_csv('CV_Mus_net_comb.csv')

In [3]:
homo.head()

,Unnamed: 0,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,0,AATF,CDKN1A,?,2,262,2-262
1,1,AATF,CDKN1B,?,2,262,2-262
2,2,AATF,MYCB,+,2,1007,2-1007
3,3,AATF,MYC,+,2,1007,2-1007
4,4,AATF,TP53,?,2,1621,2-1621

In [4]:
homo.shape

(5215, 7)

In [5]:
dmel.head()

,Unnamed: 0,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,0,ETV6,SPTAN1,?,33,26,33-26
1,1,ETV6,ETV6,?,33,33,33-33
2,2,ETV6,TGFBR1,?,33,65,33-65
3,3,ETV6,ACVR1B,?,33,65,33-65
4,4,ETV6,KAG9278225.1,?,33,68,33-68

In [6]:
dmel.shape

(3221, 7)

In [7]:
mus.head()

,Unnamed: 0,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,0,AIRE,BMP2,?,34,90,34-90
1,1,ANKRD1,MYL2,-,46,618,46-618
2,2,ANKRD1,MYL2,-,46,618,46-618
3,3,APBB1,LRP1,-,49,550,49-550
4,4,APBB1,KAG9261813.1,?,49,664,49-664

In [8]:
mus.shape

(1790, 7)

In [9]:
net =  pd.concat([homo,mus,dmel])
net.shape

(10226, 7)

In [10]:
net.head()

,Unnamed: 0,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,0,AATF,CDKN1A,?,2,262,2-262
1,1,AATF,CDKN1B,?,2,262,2-262
2,2,AATF,MYCB,+,2,1007,2-1007
3,3,AATF,MYC,+,2,1007,2-1007
4,4,AATF,TP53,?,2,1621,2-1621

In [11]:
net = net.drop(columns=['ID_source', 'ID_target', 'Grupo_interaccion'], errors='ignore')
net = net.rename(columns={'Source_ortolog': 'Source', 'Target_ortolog': 'Target'})

In [12]:
net.shape

(10226, 4)

In [13]:
net.head()

   Unnamed: 0 Source  Target Interaction
0           0   AATF  CDKN1A           ?
1           1   AATF  CDKN1B           ?
2           2   AATF    MYCB           +
3           3   AATF     MYC           +
4           4   AATF    TP53           ?

In [14]:
def resolver_interaccion(grupo):
    # Filtrar interacciones conocidas
    conocidos = grupo[grupo['Interaction'].isin(['+', '-'])]
    if not conocidos.empty:
        return conocidos.iloc[[0]]  # Conserva una interacción conocida
    else:
        return grupo.iloc[[0]]  # Si no hay conocidas, conserva una con '?'

# Aplicar la función agrupando por Source y Target
global_net_filtrado = net.groupby(['Source', 'Target'], group_keys=False).apply(resolver_interaccion).reset_index(drop=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_22036\3143472889.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  global_net_filtrado = net.groupby(['Source', 'Target'], group_keys=False).apply(resolver_interaccion).reset_index(drop=True)

In [15]:
global_net_filtrado.shape

(7388, 4)

In [16]:
global_net_filtrado.to_csv('CF_global.csv')