In [1]:
import pandas as pd
import os 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE')
net=pd.read_csv('Global_SF.csv')

In [2]:
net.head()

  Source  Target Interaction
0   AATF  CDKN1D           ?
1   AATF    MYCB           +
2   AATF    TP53           ?
3   ABL1   BCL2B           -
4   ABL1  BCL6AA           -

In [3]:
net.shape

(6412, 3)

In [4]:
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie')
visual=pd.read_csv('visuall.csv')
visual.head()

        Gen  Atributo Unnamed: 2  Unnamed: 3
0     CRYAA         1      lente         NaN
1    CRYABB         1      lente         NaN
2      GLI3         1      lente         NaN
3  HSP90AB1         1      lente         NaN
4      MIPB         1      lente         NaN

In [5]:
visual.shape

(40, 4)

In [6]:
filtered_df = net[net['Target'].isin(visual['Gen'])]
print(filtered_df)

       Source    Target Interaction
4        ABL1    BCL6AA           -
15      APBB1   NOTCH1B           ?
117   ARNTL1A    RPL13A           ?
124      ARXA      SHHA           +
237    BCL6AA    BCL6AA           -
...       ...       ...         ...
5984     TP53  HSP90AB1           -
6195     VAX2     PAX6A           -
6237     WT1A     PAX2A           -
6238     WT1A    POU4F2           ?
6381    ZEB1B    BCL6AA           -

[144 rows x 3 columns]

In [7]:
filtered_df.shape

(144, 3)

In [8]:
filtered_df.to_csv('Subnet_SF.csv')