In [1]:
import pandas as pd 
import os

In [2]:
#Datos 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/1_Redes_modelo')
dmel= pd.read_csv('Dmel_model_net(high).csv')
homo= pd.read_csv('trrust_rawdata.human.csv')
mus= pd.read_csv ('trrust_rawdata.mouse.csv')

In [3]:
dmel.head()

  Source  Target Interaction
0  ABD-A  5-HT1A           ?
1  ABD-A   5-HT7           ?
2  ABD-A   ABD-A           ?
3  ABD-A   ABD-B           ?
4  ABD-A   AC76E           ?

In [4]:
homo.head()

  Source  Target Interaction
0   AATF     BAX           -
1   AATF  CDKN1A           ?
2   AATF    KLK3           ?
3   AATF     MYC           +
4   AATF    TP53           ?

In [5]:
mus.head()

  Source  Target Interaction
0   AATF    BAK1           ?
1   AATF     BAX           ?
2   AATF    BBC3           ?
3   AATF  CDKN1A           ?
4   AATF    TPT1           +

In [6]:
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/cueva/1_ProteinOrto/3_Filtrado')
orto_dmel= pd.read_csv('Dmel_Pach_Filter.csv')
orto_homo= pd.read_csv('Homo_Pach_Filter.csv') 
orto_mus= pd.read_csv('Mus_Pach_Filter.csv')

In [7]:
orto_dmel.head()

,Unnamed: 0,Ast,a,a2,Dmel,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,18264,Astyanax_pachon,KAG9283761.1,37104,Drosophila_melanogaster,NP_001246314.1,37104,0.000000e+00,1299.0,0.000000e+00,1299.0
1,15269,Astyanax_pachon,KAG9279806.1,37469,Drosophila_melanogaster,NP_001246314.1,37104,0.000000e+00,1297.0,0.000000e+00,1297.0
2,14991,Astyanax_pachon,KAG9279440.1,37834,Drosophila_melanogaster,NP_001246314.1,37104,0.000000e+00,1256.0,0.000000e+00,1256.0
3,15364,Astyanax_pachon,KAG9279911.1,38200,Drosophila_melanogaster,NP_001246314.1,37104,0.000000e+00,1281.0,0.000000e+00,1281.0
4,8467,Astyanax_pachon,KAG9270290.1,AAAS,Drosophila_melanogaster,NP_001285049.1,ALADIN,8.890000e-40,163.0,5.460000e-40,163.0

#### Redes modelo en base a datos de ortología ###
1. Datos 
2. Filtrar las interacciones para asegurar que source y target sean ortologos de astyanax 
3. Pasar de nombres de genes del organismo modelo a ID's de Astyanax

## Pachon - Dmel

In [8]:
# Filtramos ortólogos de 'Source'
source = dmel[dmel['Source'].isin(orto_dmel['b2'])]

# Filtramos ortólogos de 'Target' dentro del subconjunto filtrado previamente
net_dmel = source[source['Target'].isin(orto_dmel['b2'])]

# Eliminamos duplicados, manteniendo solo la primera ocurrencia
net_dmel = net_dmel.drop_duplicates()

# Crear diccionario de mapeo de 'b2' a 'a'
mapp = dict(zip(orto_dmel['b2'], orto_dmel['a']))

# Reemplazar valores en 'Source' y 'Target' usando el mapeo de 'b2' → 'a'

net_dmel.replace({'Source': mapp, 'Target': mapp}, inplace=True)

# Posibles duplicados tras el mapeo
net_dmel = net_dmel.drop_duplicates()

In [9]:
net_dmel.shape

(1542, 3)

In [10]:
dmel.shape

(23404, 3)

## Pachon - Homo

In [11]:
# Filtramos ortólogos de 'Source'
source2 = homo[homo['Source'].isin(orto_homo['b2'])]

# Filtramos ortólogos de 'Target' dentro del subconjunto filtrado previamente
net_homo = source2[source2['Target'].isin(orto_homo['b2'])]

# Eliminamos duplicados, manteniendo solo la primera ocurrencia
net_homo = net_homo.drop_duplicates()

# Crear diccionario de mapeo de 'a2' a 'b'
mapp2 = dict(zip(orto_homo['b2'], orto_homo['a']))

# Reemplazar valores en 'Source' y 'Target' usando el mapeo de 'b2' → 'a'

net_homo.replace({'Source': mapp2, 'Target': mapp2}, inplace=True)

# Posibles duplicados tras el mapeo
net_homo = net_homo.drop_duplicates()

In [12]:
net_homo.shape

(5538, 3)

In [13]:
homo.shape

(9396, 3)

## Mus - Ast3

In [14]:
orto_mus.head()

,Unnamed: 0,Ast,a,a2,Mus,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,47371,Astyanax_pachon,KAG9283761.1,37104,Mus_musculus,NP_001304102.1,37104,0.000000e+00,1691.0,0.000000e+00,1691.0
1,39507,Astyanax_pachon,KAG9279806.1,37469,Mus_musculus,NP_694818.3,37469,0.000000e+00,1634.0,0.000000e+00,1634.0
2,38805,Astyanax_pachon,KAG9279440.1,37834,Mus_musculus,NP_700451.2,37834,0.000000e+00,1693.0,0.000000e+00,1693.0
3,39742,Astyanax_pachon,KAG9279911.1,38200,Mus_musculus,NP_694817.2,38200,0.000000e+00,1707.0,0.000000e+00,1707.0
4,15198,Astyanax_pachon,KAG9267313.1,A1CF,Mus_musculus,NP_001352007.1,A1CF,5.600000e-268,923.0,1.130000e-268,923.0

In [15]:
# Filtramos ortólogos de 'Source'
source2 = mus[mus['Source'].isin(orto_mus['b2'])]

# Filtramos ortólogos de 'Target' dentro del subconjunto filtrado previamente
net_mus = source2[source2['Target'].isin(orto_mus['b2'])]

# Eliminamos duplicados, manteniendo solo la primera ocurrencia
net_mus = net_mus.drop_duplicates()

# Crear diccionario de mapeo de 'a2' a 'b'
mapp2 = dict(zip(orto_mus['b2'], orto_mus['a']))

# Reemplazar valores en 'Source' y 'Target' usando el mapeo de 'b2' → 'a'

net_mus.replace({'Source': mapp2, 'Target': mapp2}, inplace=True)

# Posibles duplicados tras el mapeo
net_mus = net_mus.drop_duplicates()

In [16]:
net_mus.shape

(4205, 3)

In [17]:
mus.shape

(7057, 3)

In [18]:
net_dmel.to_csv('Pach_Netw_from_Dmel.csv')

In [19]:
net_homo.to_csv('Pach_Netw_from_Homo.csv')

In [20]:
net_mus.to_csv('Pac_Netw_from_Mus.csv')