In [1]:
import pandas as pd 
import os 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/2_ProteinOrtho/2_ProteinOrtho_IDs')
nod= pd.read_csv('Dmel_nodos.csv')

Al archivo obtenido de ProteinOrtho (Ast-Dmel) se agregaron los ID's (a2, b2) del proteoma obtenido a traves del NCBI

In [2]:
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/cueva/1_ProteinOrto/2_ProteinOrtho_IDs')
ortho = pd.read_csv('Ortho_Pach_dmel.csv') 
ortho.head()

,Ast,a,a2,Dmel,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,Astyanax_pachon,KAG9259371.1,TPH2,Drosophila_melanogaster,NP_612080.1,TRHN,1.500000e-143,508.0,9.080000e-144,508.0
1,Astyanax_pachon,KAG9259373.1,KAG9259373.1,Drosophila_melanogaster,NP_001033999.2,CG34001,2.490000e-22,103.0,2.010000e-22,103.0
2,Astyanax_pachon,KAG9259387.1,ABHD17A,Drosophila_melanogaster,NP_001163719.1,CG33096,2.470000e-114,410.0,1.480000e-114,410.0
3,Astyanax_pachon,KAG9259387.1,ABHD17A,Drosophila_melanogaster,NP_001287517.1,CG33096,2.470000e-114,410.0,1.480000e-114,410.0
4,Astyanax_pachon,KAG9259387.1,ABHD17A,Drosophila_melanogaster,NP_001287518.1,CG33096,2.470000e-114,410.0,1.480000e-114,410.0

In [3]:
ortho.shape

(18382, 10)

In [4]:
nod.head()

     Model_nodos NCBI_Product_accesion
0  14-3-3EPSILON           NP_732309.1
1     14-3-3ZETA           NP_476885.2
2            18W           NP_476814.1
3           2MIT        NP_001262529.1
4         5-HT1A        NP_001356890.1

In [5]:
# Asegúrate de que no hay espacios extra o diferencias en los valores
nod['NCBI_Product_accesion'] = nod['NCBI_Product_accesion'].astype(str).str.strip()
ortho['b'] = ortho['b'].astype(str).str.strip()

# Filtrado: conservar solo las filas de 'ortho' que tengan coincidencias en 'nod'
filtrado = ortho[ortho['b'].isin(nod['NCBI_Product_accesion'])]

# Mostrar los primeros resultados
filtrado.head()

,Ast,a,a2,Dmel,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
7,Astyanax_pachon,KAG9259387.1,ABHD17A,Drosophila_melanogaster,NP_001356926.1,CG33096,2.470000e-114,410.0,1.810000e-114,410.0
18,Astyanax_pachon,KAG9259413.1,MMP24,Drosophila_melanogaster,NP_001189002.1,MMP1,1.870000e-54,212.0,1.150000e-54,212.0
20,Astyanax_pachon,KAG9259415.1,EIF6,Drosophila_melanogaster,NP_659573.1,EIF6,4.400000e-105,379.0,2.730000e-105,379.0
23,Astyanax_pachon,KAG9259417.1,KAG9259417.1,Drosophila_melanogaster,NP_536787.1,CYPE,1.250000e-09,60.1,8.540000e-10,60.1
28,Astyanax_pachon,KAG9259423.1,NELFCD,Drosophila_melanogaster,NP_573123.1,TH1,2.060000e-182,637.0,1.390000e-182,637.0

In [6]:
filtrado.shape

(2629, 10)

In [7]:
#Unión de nodos del modelo con ortólogos
merged = pd.merge(nod, filtrado, left_on='NCBI_Product_accesion', right_on='b', how='left')
merged.head()

,Model_nodos,NCBI_Product_accesion,Ast,a,a2,Dmel,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,14-3-3EPSILON,NP_732309.1,Astyanax_pachon,KAG9265182.1,YWHAE,Drosophila_melanogaster,NP_732309.1,14-3-3EPSILON,9.830000e-115,411.0,6.790000e-115,411.0
1,14-3-3EPSILON,NP_732309.1,Astyanax_pachon,KAG9281675.1,YWHAE,Drosophila_melanogaster,NP_732309.1,14-3-3EPSILON,3.930000e-114,409.0,2.720000e-114,409.0
2,14-3-3ZETA,NP_476885.2,Astyanax_pachon,KAG9268141.1,YWHAB,Drosophila_melanogaster,NP_476885.2,14-3-3ZETA,3.320000e-101,366.0,2.260000e-101,366.0
3,14-3-3ZETA,NP_476885.2,Astyanax_pachon,KAG9270337.1,YWHABA,Drosophila_melanogaster,NP_476885.2,14-3-3ZETA,5.050000e-106,382.0,3.450000e-106,382.0
4,14-3-3ZETA,NP_476885.2,Astyanax_pachon,KAG9275912.1,YWHABA,Drosophila_melanogaster,NP_476885.2,14-3-3ZETA,2.600000e-103,373.0,1.770000e-103,373.0

In [8]:
# 4. Agrupar por nodo y accession ID — mantener lista de tuplas (ID, símbolo)
grouped = merged.groupby(['Model_nodos', 'b']).apply(
    lambda df: list(zip(df['a'], df['a2']))
).reset_index(name='Astyanax_ortologos')

# 5. Añadir símbolo del gen de los IDs de referencia
symbol_map = filtrado[['b', 'b2']].drop_duplicates().set_index('b')['b2']
grouped['Symbol'] = grouped['b'].map(symbol_map)

# 6. Renombrar columna 'a' a 'NCBI_Product_accesion' para mantener consistencia
grouped = grouped.rename(columns={'b': 'NCBI_Product_accesion'})

# 7. Reordenar columnas
grouped = grouped[['Model_nodos', 'NCBI_Product_accesion', 'Astyanax_ortologos']]
grouped.head()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_25132\3504083736.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped = merged.groupby(['Model_nodos', 'b']).apply(

,Model_nodos,NCBI_Product_accesion,Astyanax_ortologos
0,14-3-3EPSILON,NP_732309.1,"[(KAG9265182.1, YWHAE), (KAG9281675.1, YWHAE)]"
1,14-3-3ZETA,NP_476885.2,"[(KAG9268141.1, YWHAB), (KAG9270337.1, YWHABA)..."
2,5-HT7,NP_524599.1,"[(KAG9262031.1, HTR7), (KAG9265546.1, HTR1A-B)..."
3,ABI,NP_001247090.1,"[(KAG9273664.1, ABI1), (KAG9276765.1, ABI1)]"
4,AC13E,NP_001259575.1,"[(KAG9261319.1, ADCY9)]"

In [9]:
grouped.to_csv('CV_Dmel_Dic_Orto.csv')

In [10]:
merged.to_csv('CV_Dmel_Dic_merged.csv')