In [15]:
import pandas as pd 
import os 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/2_ProteinOrtho/2_ProteinOrtho_IDs')
nod= pd.read_csv('Mus_nodos.csv')

Al archivo obtenido de ProteinOrtho (Ast-Mus) se agregaron los ID's (a2, b2) del proteoma obtenido a traves del NCBI

In [16]:
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/cueva/1_ProteinOrto/2_ProteinOrtho_IDs')
ortho = pd.read_csv('Ortho_Pach_mus.csv') 
ortho.head()

,Ast,a,a2,Mus,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,Astyanax_pachon,KAG9259371.1,TPH2,Mus_musculus,NP_775567.2,TPH2,7.690000e-232,803.0,1.250000e-232,803.0
1,Astyanax_pachon,KAG9259372.1,TBC1D15,Mus_musculus,NP_079982.3,TBC1D15,5.760000e-252,870.0,1.170000e-252,870.0
2,Astyanax_pachon,KAG9259372.1,TBC1D15,Mus_musculus,NP_001414153.1,TBC1D15,1.180000e-248,859.0,2.450000e-249,859.0
3,Astyanax_pachon,KAG9259372.1,TBC1D15,Mus_musculus,NP_001414154.1,TBC1D15,2.530000e-239,828.0,4.950000e-240,828.0
4,Astyanax_pachon,KAG9259373.1,KAG9259373.1,Mus_musculus,NP_001351115.1,CHTF8,5.640000e-39,160.0,1.130000e-39,160.0

In [17]:
ortho.shape

(47581, 10)

In [18]:
nod.head()

  Model_nodos NCBI_Product_accesion
0       ABCA1        XP_006537619.1
1      ABCB11           NP_066302.2
2      ABCB1A           NP_035206.2
3      ABCB1B           NP_035205.1
4       ABCB4           NP_032856.2

In [19]:
# Asegúrate de que no hay espacios extra o diferencias en los valores
nod['NCBI_Product_accesion'] = nod['NCBI_Product_accesion'].astype(str).str.strip()
ortho['b'] = ortho['b'].astype(str).str.strip()

# Filtrado: conservar solo las filas de 'ortho' que tengan coincidencias en 'nod'
filtrado = ortho[ortho['b'].isin(nod['NCBI_Product_accesion'])]

# Mostrar los primeros resultados
filtrado.head()

,Ast,a,a2,Mus,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,Astyanax_pachon,KAG9259371.1,TPH2,Mus_musculus,NP_775567.2,TPH2,7.690000e-232,803.0,1.250000e-232,803.0
48,Astyanax_pachon,KAG9259419.1,GDF5,Mus_musculus,NP_032135.2,GDF5,4.800000e-126,451.0,1.170000e-126,451.0
55,Astyanax_pachon,KAG9259423.1,NELFCD,Mus_musculus,NP_065605.3,NELFCD,0.000000e+00,1030.0,0.000000e+00,1030.0
61,Astyanax_pachon,KAG9259428.1,NCK2,Mus_musculus,XP_030107914.1,NCK2,5.830000e-177,620.0,1.200000e-177,620.0
65,Astyanax_pachon,KAG9259430.1,FHL2,Mus_musculus,NP_001399527.1,FHL2,6.440000e-154,543.0,1.330000e-154,543.0

In [20]:
filtrado.shape

(1265, 10)

In [21]:
#Unión de nodos del modelo con ortólogos
merged = pd.merge(nod, filtrado, left_on='NCBI_Product_accesion', right_on='b', how='left')
merged.head()

,Model_nodos,NCBI_Product_accesion,Ast,a,a2,Mus,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,ABCA1,XP_006537619.1,Astyanax_pachon,KAG9260005.1,ABCA1,Mus_musculus,XP_006537619.1,ABCA1,0.0,3261.0,0.0,3261.0
1,ABCA1,XP_006537619.1,Astyanax_pachon,KAG9281151.1,ABCA1,Mus_musculus,XP_006537619.1,ABCA1,0.0,3263.0,0.0,3263.0
2,ABCB11,NP_066302.2,Astyanax_pachon,KAG9266695.1,ABCB11,Mus_musculus,NP_066302.2,ABCB11,0.0,1740.0,0.0,1740.0
3,ABCB1A,NP_035206.2,Astyanax_pachon,KAG9283635.1,ABCB1,Mus_musculus,NP_035206.2,ABCB1A,0.0,1590.0,0.0,1590.0
4,ABCB1B,NP_035205.1,Astyanax_pachon,KAG9283635.1,ABCB1,Mus_musculus,NP_035205.1,ABCB1B,0.0,1564.0,0.0,1564.0

In [22]:
# 4. Agrupar por nodo y accession ID — mantener lista de tuplas (ID, símbolo)
grouped = merged.groupby(['Model_nodos', 'b']).apply(
    lambda df: list(zip(df['a'], df['a2']))
).reset_index(name='Astyanax_ortologos')

# 5. Añadir símbolo del gen de los IDs de referencia
symbol_map = filtrado[['b', 'b2']].drop_duplicates().set_index('b')['b2']
grouped['Symbol'] = grouped['b'].map(symbol_map)

# 6. Renombrar columna 'a' a 'NCBI_Product_accesion' para mantener consistencia
grouped = grouped.rename(columns={'b': 'NCBI_Product_accesion'})

# 7. Reordenar columnas
grouped = grouped[['Model_nodos', 'NCBI_Product_accesion', 'Astyanax_ortologos']]
grouped.head()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_22088\3504083736.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped = merged.groupby(['Model_nodos', 'b']).apply(

,Model_nodos,NCBI_Product_accesion,Astyanax_ortologos
0,ABCA1,XP_006537619.1,"[(KAG9260005.1, ABCA1), (KAG9281151.1, ABCA1)]"
1,ABCB11,NP_066302.2,"[(KAG9266695.1, ABCB11)]"
2,ABCB1A,NP_035206.2,"[(KAG9283635.1, ABCB1)]"
3,ABCB1B,NP_035205.1,"[(KAG9283635.1, ABCB1)]"
4,ABCB4,NP_032856.2,"[(KAG9283635.1, ABCB1)]"

In [23]:
grouped.to_csv('CV_Mus_Dic_Orto.csv')

In [24]:
merged.to_csv('CV_Mus_Dic_merged.csv')