In [1]:
import pandas as pd
import os 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/4_Global')
net=pd.read_csv('Global_net.csv')

In [2]:
net.head()

           Source Unnamed: 1          Target Unnamed: 3 Interaction
0  NP_001278181.1       bmp4  XP_022527546.2     chst11           +
1  NP_001278185.1      dlx2a  XP_007234217.2      nrp2b           -
2  NP_001278185.1      dlx2a  XP_007237377.2     foxj1a           ?
3  NP_001278185.1      dlx2a  XP_007248745.2      pagr1           ?
4  NP_001278185.1      dlx2a  XP_007259888.1      dlx6a           +

In [3]:
net = net.drop_duplicates()

In [4]:
net.shape

(10955, 5)

In [7]:
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie')
visual=pd.read_csv('visuall.csv')
visual.head()

  Símbolo Product accesión
0   pax6a   XP_049339744.1
1   pax6a   XP_007228377.1
2   pax2a   XP_007249557.1
3  pou4f2   XP_007231628.2
4    her6   XP_007249126.1

In [8]:
filtered_df = net[net['Target'].isin(visual['Product accesión'])]
print(filtered_df)

               Source Unnamed: 1          Target Unnamed: 3 Interaction
9      NP_001306894.1       sox2  NP_001306894.1       sox2           +
11     NP_001306894.1       sox2  XP_007231628.2     pou4f2           -
21     NP_001306894.1       sox2  XP_007253071.3       shhb           ?
23     NP_001306894.1       sox2  XP_007255834.1      six3a           +
26     NP_001306894.1       sox2  XP_022517988.2       gli3           ?
...               ...        ...             ...        ...         ...
10712  XP_049339744.1      pax6a  XP_007249557.1      pax2a           -
10715  XP_049339744.1      pax6a  XP_007253071.3       shhb           +
10717  XP_049339744.1      pax6a  XP_007255834.1      six3a           ?
10726  XP_049339744.1      pax6a  XP_022521095.1      nr2e1           +
10905  XP_049342113.1      ncor2  XP_007249126.1       her6           ?

[171 rows x 5 columns]

In [9]:
filtered_df.to_csv('Subnet_SF.csv')