In [2]:
import pandas as pd 
import os 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Nueva carpeta/2_From_model_to_Pachon')

In [3]:
homo = pd.read_csv('Pach_Netw_from_Homo.csv')
homo.head()

   Unnamed: 0        Source        Target Interaction
0           0  KAG9281985.1  KAG9264203.1           -
1           1  KAG9281985.1  KAG9260832.1           ?
2           3  KAG9281985.1  KAG9273957.1           +
3           5  KAG9281890.1  KAG9264203.1           +
4           6  KAG9281890.1  KAG9283483.1           -

In [4]:
homo.shape

(5538, 4)

In [5]:
mus = pd.read_csv('Pach_Netw_from_Mus.csv')
mus.head()

   Unnamed: 0        Source        Target Interaction
0           1  KAG9281985.1  KAG9264203.1           ?
1           3  KAG9281985.1  KAG9260731.1           ?
2           4  KAG9281985.1  KAG9262540.1           +
3           5  KAG9281985.1  KAG9281523.1           +
4           6  KAG9281890.1  KAG9281523.1           ?

In [6]:
mus.shape

(4205, 4)

In [7]:
dmel = pd.read_csv('Pach_Netw_from_Dmel.csv')
dmel.head()

   Unnamed: 0        Source        Target Interaction
0         645  KAG9280587.1  KAG9266214.1           ?
1         646  KAG9280587.1  KAG9267809.1           ?
2         647  KAG9280587.1  KAG9280587.1           ?
3         649  KAG9280587.1  KAG9276696.1           ?
4         650  KAG9280587.1  KAG9278225.1           ?

In [8]:
dmel.shape

(1542, 4)

In [9]:
net =  pd.concat([homo,mus,dmel])

In [10]:
net.shape

(11285, 4)

In [11]:
net

      Unnamed: 0        Source        Target Interaction
0              0  KAG9281985.1  KAG9264203.1           -
1              1  KAG9281985.1  KAG9260832.1           ?
2              3  KAG9281985.1  KAG9273957.1           +
3              5  KAG9281890.1  KAG9264203.1           +
4              6  KAG9281890.1  KAG9283483.1           -
...          ...           ...           ...         ...
1537       23226  KAG9271924.1  KAG9260724.1           ?
1538       23231  KAG9271924.1  KAG9265262.1           ?
1539       23232  KAG9271924.1  KAG9264987.1           ?
1540       23234  KAG9271924.1  KAG9267806.1           ?
1541       23236  KAG9271924.1  KAG9271924.1           ?

[11285 rows x 4 columns]

In [12]:
def resolver_interaccion(grupo):
    # Filtrar interacciones conocidas
    conocidos = grupo[grupo['Interaction'].isin(['+', '-'])]
    if not conocidos.empty:
        return conocidos.iloc[[0]]  # Conserva una interacción conocida
    else:
        return grupo.iloc[[0]]  # Si no hay conocidas, conserva una con '?'

# Aplicar la función agrupando por Source y Target
global_net_filtrado = net.groupby(['Source', 'Target'], group_keys=False).apply(resolver_interaccion).reset_index(drop=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_7420\4076449389.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  global_net_filtrado = net.groupby(['Source', 'Target'], group_keys=False).apply(resolver_interaccion).reset_index(drop=True)

In [13]:
global_net_filtrado.shape

(9690, 4)

In [14]:
# Eliminar filas duplicadas
global_net_filtrado = global_net_filtrado.drop_duplicates()

In [15]:
global_net_filtrado.shape

(9690, 4)

In [16]:
global_net_filtrado.to_csv('Global_net_Pach.csv')