In [1]:
import pandas as pd 
import os 
os.chdir('C:/Users/Usuario/Desktop/ASTYANAX_EYE/Superficie/2_ProteinOrtho/2_ProteinOrtho_IDs')

Al archivo obtenido de ProteinOrtho (Ast-Mus) se agregaron los ID's (a2, b2) del proteoma obtenido a traves del NCBI

In [2]:
ortho = pd.read_csv('Ortho_Ast_Mus.csv') 
ortho.head()

,Ast,a,a2,Mus,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,Astyanax_mexicanus,NP_001278181.1,BMP4,Mus_musculus,NP_001303289.1,BMP4,3.300000e-168,591.0,2.080000e-168,591.0
1,Astyanax_mexicanus,NP_001278181.1,BMP4,Mus_musculus,NP_031580.2,BMP4,3.300000e-168,591.0,2.080000e-168,591.0
2,Astyanax_mexicanus,NP_001278184.1,SHHA,Mus_musculus,NP_033196.1,SHH,3.780000e-159,561.0,2.390000e-159,561.0
3,Astyanax_mexicanus,NP_001278185.1,DLX2A,Mus_musculus,NP_034184.1,DLX2,2.960000e-76,285.0,2.200000e-76,285.0
4,Astyanax_mexicanus,NP_001278188.1,LHX9,Mus_musculus,XP_006529234.1,LHX9,4.290000e-185,647.0,2.740000e-185,647.0

In [3]:
ortho.shape

(138195, 10)

In [4]:
nod= pd.read_csv('Mus_nodos.csv')
nod.head()

  Model_nodos NCBI_Product_accesion
0       ABCA1        XP_006537619.1
1      ABCB11           NP_066302.2
2      ABCB1A           NP_035206.2
3      ABCB1B           NP_035205.1
4       ABCB4           NP_032856.2

In [5]:
nod.shape

(1603, 2)

In [6]:
# Asegúrate de que no hay espacios extra o diferencias en los valores
nod['NCBI_Product_accesion'] = nod['NCBI_Product_accesion'].astype(str).str.strip()
ortho['b'] = ortho['b'].astype(str).str.strip()

# Filtrado: conservar solo las filas de 'ortho' que tengan coincidencias en 'nod'
filtrado = ortho[ortho['b'].isin(nod['NCBI_Product_accesion'])]

# Mostrar los primeros resultados
filtrado.head()

,Ast,a,a2,Mus,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
2,Astyanax_mexicanus,NP_001278184.1,SHHA,Mus_musculus,NP_033196.1,SHH,3.780000e-159,561.0,2.390000e-159,561.0
3,Astyanax_mexicanus,NP_001278185.1,DLX2A,Mus_musculus,NP_034184.1,DLX2,2.960000e-76,285.0,2.200000e-76,285.0
12,Astyanax_mexicanus,NP_001278191.1,CRY1A,Mus_musculus,NP_031797.1,CRY1,6.060000e-293,1006.0,3.650000e-293,1006.0
22,Astyanax_mexicanus,NP_001278194.1,PAX6A,Mus_musculus,NP_001231127.1,PAX6,1.200000e-219,762.0,7.420000e-220,762.0
41,Astyanax_mexicanus,NP_001306894.1,SOX2,Mus_musculus,NP_035573.3,SOX2,1.030000e-114,413.0,6.220000e-115,413.0

In [7]:
filtrado.shape

(2315, 10)

In [8]:
#Unión de nodos del modelo con ortólogos
merged = pd.merge(nod, filtrado, left_on='NCBI_Product_accesion', right_on='b', how='left')

In [9]:
merged.head()

,Model_nodos,NCBI_Product_accesion,Ast,a,a2,Mus,b,b2,evalue_ab,bitscore_ab,evalue_ba,bitscore_ba
0,ABCA1,XP_006537619.1,Astyanax_mexicanus,XP_022522959.2,ABCA1A,Mus_musculus,XP_006537619.1,ABCA1,0.0,3262.0,0.0,3262.0
1,ABCA1,XP_006537619.1,Astyanax_mexicanus,XP_022522960.2,ABCA1A,Mus_musculus,XP_006537619.1,ABCA1,0.0,3256.0,0.0,3256.0
2,ABCA1,XP_006537619.1,Astyanax_mexicanus,XP_022527820.2,ABCA1B,Mus_musculus,XP_006537619.1,ABCA1,0.0,3265.0,0.0,3265.0
3,ABCA1,XP_006537619.1,Astyanax_mexicanus,XP_022527822.2,ABCA1B,Mus_musculus,XP_006537619.1,ABCA1,0.0,3265.0,0.0,3265.0
4,ABCA1,XP_006537619.1,Astyanax_mexicanus,XP_022527823.2,ABCA1B,Mus_musculus,XP_006537619.1,ABCA1,0.0,3271.0,0.0,3271.0

In [10]:
# 4. Agrupar por nodo y accession ID — mantener lista de tuplas (ID, símbolo)
grouped = merged.groupby(['Model_nodos', 'b']).apply(
    lambda df: list(zip(df['a'], df['a2']))
).reset_index(name='Astyanax_ortologos')

# 5. Añadir símbolo del gen de los IDs de referencia
symbol_map = filtrado[['b', 'b2']].drop_duplicates().set_index('b')['b2']
grouped['Symbol'] = grouped['b'].map(symbol_map)

# 6. Renombrar columna 'a' a 'NCBI_Product_accesion' para mantener consistencia
grouped = grouped.rename(columns={'b': 'NCBI_Product_accesion'})

# 7. Reordenar columnas
grouped = grouped[['Model_nodos', 'NCBI_Product_accesion', 'Astyanax_ortologos']]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_16988\1769486355.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped = merged.groupby(['Model_nodos', 'b']).apply(

In [11]:
grouped.head()

,Model_nodos,NCBI_Product_accesion,Astyanax_ortologos
0,ABCA1,XP_006537619.1,"[(XP_022522959.2, ABCA1A), (XP_022522960.2, AB..."
1,ABCB11,NP_066302.2,"[(XP_022525386.2, ABCB11B)]"
2,ABCB1A,NP_035206.2,"[(XP_049320497.1, ABCB4)]"
3,ABCB1B,NP_035205.1,"[(XP_049320497.1, ABCB4)]"
4,ABCB4,NP_032856.2,"[(XP_049320497.1, ABCB4)]"

In [14]:
grouped.to_csv('Mus_Dic_Orto.csv')

In [15]:
merged.to_csv('Mus_Dic_merged.csv')