In [2]:
import pandas as pd
import os
from ast import literal_eval
from itertools import product
os.chdir('C:/Users/Usuario/Desktop')

In [3]:

# Cargar archivos
net_df = pd.read_csv("Net_prueba.csv")
orto_df = pd.read_csv("Prueba_orto.csv")

In [4]:
net_df.head()

          Source      Target Interaction
0  14-3-3EPSILON  14-3-3ZETA           ?

In [5]:
orto_df.head()

,Model_nodos,NCBI_Product_accesion,Astyanax_ortologos,ID
0,14-3-3EPSILON,NP_732309.1,"[('XP_007245994.1', 'YWHAE1'), ('XP_007229712....",1
1,14-3-3ZETA,NP_476885.2,"[('XP_007241340.1', 'LOC103023259'), ('XP_0493...",2

In [6]:

# Convertir string de listas de tuplas a listas reales
orto_df["Astyanax_ortologos"] = orto_df["Astyanax_ortologos"].apply(literal_eval)

# Crear diccionario para acceso rápido a ortólogos
orto_dict = orto_df.set_index("Model_nodos")[["Astyanax_ortologos", "ID"]].to_dict(orient="index")

# Generar combinatorias
expanded_rows = []

for _, row in net_df.iterrows():
    source = row["Source"]
    target = row["Target"]
    interaction = row["Interaction"]
    
    if source in orto_dict and target in orto_dict:
        source_orthos = orto_dict[source]["Astyanax_ortologos"]
        target_orthos = orto_dict[target]["Astyanax_ortologos"]
        id_source = orto_dict[source]["ID"]
        id_target = orto_dict[target]["ID"]
        
        for s_ort, t_ort in product(source_orthos, target_orthos):
            expanded_rows.append({
                "Source_ortolog": s_ort[1],
                "Target_ortolog": t_ort[1],
                "Interaction": interaction,
                "ID_source": id_source,
                "ID_target": id_target,
                "Grupo_interaccion": f"{id_source}-{id_target}"
            })

# Crear dataframe final
final_df = pd.DataFrame(expanded_rows)

In [7]:
final_df

,Source_ortolog,Target_ortolog,Interaction,ID_source,ID_target,Grupo_interaccion
0,YWHAE1,LOC103023259,?,1,2,1-2
1,YWHAE1,YWHABA,?,1,2,1-2
2,YWHAE1,YWHABL,?,1,2,1-2
3,YWHAE1,YWHAQA,?,1,2,1-2
4,YWHAE1,YWHAQA,?,1,2,1-2
5,YWHAE1,YWHAQB,?,1,2,1-2
6,YWHAE2,LOC103023259,?,1,2,1-2
7,YWHAE2,YWHABA,?,1,2,1-2
8,YWHAE2,YWHABL,?,1,2,1-2
9,YWHAE2,YWHAQA,?,1,2,1-2
10,YWHAE2,YWHAQA,?,1,2,1-2
11,YWHAE2,YWHAQB,?,1,2,1-2
12,YWHAE1,LOC103023259,?,1,2,1-2
13,YWHAE1,YWHABA,?,1,2,1-2
14,YWHAE1,YWHABL,?,1,2,1-2
15,YWHAE1,YWHAQA,?,1,2,1-2
16,YWHAE1,YWHAQA,?,1,2,1-2
17,YWHAE1,YWHAQB,?,1,2,1-2
18,YWHAE2,LOC103023259,?,1,2,1-2
19,YWHAE2,YWHABA,?,1,2,1-2
20,YWHAE2,YWHABL,?,1,2,1-2
21,YWHAE2,YWHAQA,?,1,2,1-2
22,YWHAE2,YWHAQA,?,1,2,1-2
23,YWHAE2,YWHAQB,?,1,2,1-2